<?xml version="1.0" encoding="UTF-8"?>
<!--初始化配置 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--系统初始化Action -->
	<bean id="initializer" class="com.cn.initialize.Initializer">
<!-- 		<property name="hibernateDao"> -->
<!-- 			<ref bean="hibernateDao" /> -->
<!-- 		</property> -->
		<property name="dateModule">
			<ref bean="dateModule" />
		</property>
		<property name="randomModule">
			<ref bean="randomModule" />
		</property>
	</bean>

</beans>